:root {
    --color-bg: #181f2b;
    --color-primary: #3ac4af;
    --color-primary-hover: #36a28e;
    --color-secondary: #f8f8ff;
}

html, body {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 10vmin;

    font-family: Verdana, serif;
    text-align: center;
    background: var(--color-bg);
}
body > * {
    width: 100%;
    max-width: 700px;
}

header {
    color: var(--color-primary);
    font-size: 14px;
    font-weight: bold;
}

.logo {
    color: var(--color-primary);
    font-size: 12vmin;
    margin-bottom: 20px;
}
.lorem {
    color: var(--color-secondary);
    font-size: 5vmin;
    font-weight: bold;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
}
.links {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 30px;

    display: flex;
    align-items: center;

    background-color: var(--color-primary);
    overflow: hidden;
}
.links a {
    flex: 1 0 50%;
    box-sizing: border-box;
    padding: 15px 20px;
    font-size: 3vmin;
    font-weight: bold;
    color: var(--color-bg);
    text-decoration: none;
}
.button {
    position: relative;
    height: 13vmin;
    width: 13vmin;
    line-height: 13vmin;
    font-size: 10vmin;

    background-color: var(--color-primary);
    color: var(--color-bg);
    border: 10px solid var(--color-bg);
    border-radius: 50%;
}

.clickable:hover {
    cursor: pointer;
    background-color: var(--color-primary-hover);
}
