html, body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background: url("./assets/bg.png");
    font-family: "Courier New", serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    max-width: 600px;
    padding: 25px;
}
.subtitle {
    text-align: center;
    font-style: italic;
}
.title {
    text-align: center;
}
.columns {
    display: flex;
    justify-content: space-between;
}
.column {
    flex: 0 1 50%;
}
.spacer {
    flex: 0 0 auto;
    width: 1px;
    margin: 0 25px;
    background-color: black;
}
.lorem {
    font-size: 14px;
}